{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body style="width:40%;align=center;margin-left:auto;margin-right:auto; padding: 0 0 50px; position: relative;">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <a href="{% url 'memory:index' %}" style="position:relative; display: block; height: 200px; width: 100px;">
        <img src="{% static 'img/logo.png' %}"  height="200" width="300" style="position: absolute; left: -90px;">
    </a>
    {% block contents %}{% endblock %}

  </body>
