{% extends "memory_project/base.html" %}


{% block contents %}
    <ul class="nav" style="position: absolute; right: 0; top: 60px;">
        <li role="presentation"><a href="{% url 'memory:add_card' %}"><span class="glyphicon glyphicon-plus"></span>
            Add a new word</a>
        </li>
        <li role="presentation"><a href="{% url 'memory:add_text' %}" class="text-success">
            <span class="glyphicon glyphicon-plus"></span> Add a text to translate</a>
        </li>
    </ul>
    <ul class="nav" style="position: absolute; right: 200px; top: 60px;">
        <li><a href="{% url 'memory:all' %}" class="text-danger">All words</a></li>
        <li role="presentation"><a href="{% url 'memory:all_texts' %}" class="text-warning">All texts</a></li>
    </ul>
    {% if card %}
    <div>
        <div style="float: right;">
            <a href="{% url 'memory:card_change' card.id %}" class="glyphicon glyphicon-pencil" title="Change"></a>
            <a href="{% url 'memory:card_delete' card.id %}" class="glyphicon glyphicon-remove text-danger" title="Delete"></a>
            <a href="{% url 'memory:add_card' %}" class="glyphicon glyphicon-plus text-success" title="Add a new word"></a>
        </div>
        <div style="clear: both; margin-bottom: 20px;"></div>
        <ul class="list-group">
            <li class="list-group-item" style="text-align: center; min-height: 150px;">
                <div style="text-align: left; margin-bottom: 30px;">Question</div>
                <h3>{{ card.first_side_text }}</h3>
            </li>
            {% if card.extra_text %}
            <li class="list-group-item" style="text-align:center; min-height: 150px;">
                <div style="text-align: left; margin-bottom: 30px;">Example</div>
                {% if request.GET.extra %}
                <b style="color: #888;">{{ card.extra_text }}</b>
                {% else %}
                <span id="show_extra_link"><p class="btn btn-info" id="show_extra">Show Example</p></span>
                {% endif %}
            </li>
            {% endif %}
            <li class="list-group-item" style="text-align:center; min-height: 150px;">
                <div style="text-align: left; margin-bottom: 30px;">Answer</div>
                {% if request.GET.answer %}
                <h3>{{ card.second_side_text }}</h3>
                {% else %}
                <span id="show_answer_link"><p class="btn btn-info"  id="show_answer">Show answer</p></span>
                {% endif %}
            </li>
            <li class="list-group-item">
                <div style="text-align: left; margin-bottom: 30px;">Grade your answer</div>
                <form action="{% url 'memory:card_renew' card.id %}" method="post" id="form">
                {% csrf_token %}
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    {% for choice in card.VALUE_CHOICES %}
                    <div class="btn-group" style="text-align: center;" role="group">
                        <input type="submit"
                               class="btn btn-info {% if card.value == choice.0 %} btn-warning {% endif %}" value="{{ choice.0 }}"
                               id="choice{{ choice.0 }}"
                               name="choice">
                        </input>
                    </div>
                    {% endfor %}
                </div>
                </form>
            </li>
        </ul>
        <b>Words for practice today: {{ list_len }}</b>
    </div>
    {% else %}
    There is no card for practice today.
    {% endif %}

    <script>
        $(document).ready(function() {
            hr = window.location;
            $("#show_answer").on('click', function() {
                if(hr.href.indexOf("answer") == -1) {
                    if (hr.search)
                        href = hr + "&answer=show";
                    else
                        href = hr + "?answer=show";
                }
                 window.location.href = href;
            })
            $("#show_extra").on('click', function() {
                if(hr.href.indexOf("extra") == -1) {
                    if (hr.search)
                        href = hr + "&extra=show";
                    else
                        href = hr + "?extra=show";
                }
                 window.location.href = href;
            })
            $(window).keypress(function(e) {
                if (e.keyCode == 0 || e.keyCode == 32) {
                    if(hr.href.indexOf("answer") == -1) {
                        if (hr.search)
                            href = hr + "&answer=show";
                        else
                            href = hr + "?answer=show";
                    }
                    window.location.href = href;
                } else if (e.keyCode == 48) {
                    var $el = $("#choice0");
                    $el.siblings().removeClass('btn_warning');
                    $el.addClass('btn_warning');
                    $el.click();
                } else if (e.keyCode == 49) {
                    var $el = $("#choice1");
                    $el.siblings().removeClass('btn_warning');
                    $el.addClass('btn_warning');
                    $el.click();
                } else if (e.keyCode == 50) {
                    var $el = $("#choice2");
                    $el.siblings().removeClass('btn_warning');
                    $el.addClass('btn_warning');
                    $el.delay(5000).click();
                } else if (e.keyCode == 51) {
                    var $el = $("#choice3");
                    $el.siblings().removeClass('btn_warning');
                    $el.addClass('btn_warning');
                    $el.click();
                } else if (e.keyCode == 52) {
                    var $el = $("#choice4");
                    $el.siblings().removeClass('btn_warning');
                    $el.addClass('btn_warning');
                    $el.click();
                } else if (e.keyCode == 53) {
                    var $el = $("#choice5");
                    $el.siblings().removeClass('btn_warning');
                    $el.addClass('btn_warning');
                    $el.click();
                }

            })
        });
    </script>

{% endblock %}