{% extends "memory_project/base.html" %}


{% block contents %}
<h2>{{ text.title }}</h2>
<div>
    <p>
        {{ text.content|linebreaksbr }}
    </p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <div style="position: relative;">
        <a id="g_translate" href="" style="position: absolute; left: -50px; top: 0;">
            <img src="{% static 'img/Google-Translate-icon.png' %}">
        </a>
        <form action="" method="post">
            <table class="table">
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" class="btn btn-success" value="OK">
        </form>
    </div>
</div>
{% endblock %}